<!DOCTYPE html>
<html>
<body>


<h1>Maruf Zaber's Personal Website</h1>

<p>
Hello! Welcome to my ultra-minimalistic, light-weight, JavaScript-free, and jargon-free (almost!) website.
</p>

<h2>About Me</h2>

<p>

My name is Maruf Zaber. I am a Software Engineering graduate student at the University of California, Irvine. I currently live in Southern California, a land Chumash and Tongva people used to call home a couple of centuries ago. I was born in Mymensingh, a small town in Bangladesh many moons ago. I speak Bangla, English, a tiny bit of Hindi, and a tinier bit of Spanish. 

<p>
I write, most of the time with code, sometimes with words. I think and wonder about optimization, scalability, software engineering principles, leadership, mindfulness, and inequality. In my past life, I was Von Neumann reincarnated in a stray cat, living in a backpacker hostel in Patagonia. You can write that in my obituary. Not that I care much at that point.
</p>

<h2>My Work</h2>

<p>

My expertise lies in Software Testing, Software Architecture, Information Retrieval, and Compiler. My biggest skill is learning new technologies and tools rapidly and get things done. I designed and implemented a scalable regression test selection tool for Java Unit tests from scratch. I call this tool as <a href="https://github.com/Mondego/TLDR">TLDR</a> — <i>Too Long Didn’t Regress</i>! My other works involve test-suite parallelization, inter-project dependency management, and efficient code-clone detection.

</p>

<p>
I will be joining Google, a leading internet company in Q2, 2021. I’ll be joining their UFO Engineering team. Unfortunately, it’s not <i>Unidentified Flying Object</i> but fortunately, it’s <i>United Fulfillment Optimization</i>. I’ll be helping scale Google's phenomenal growth by optimizing their ginormous server fleet in near real-time. More about the team is in this <a href="https://www.youtube.com/watch?v=m7uIG8qFGMI">video</a>.
</p>

<p>
Previously, I had worked at BRAC University, New York University, Abu Dhabi, UC Irvine, and Google (again!).
</p>

<p></p>


<p>I have a <a href="https://drive.google.com/file/d/1Kn6XaLeUl__sj3M3f_BYYCwfuEbNPqFB/view?usp=sharing">resume</a>.</p>
<p>I have an inch-deep-mile-wide <a href="{{ url_for('reading_list') }}">reading list</a>. (Feel free to steal!)</p>
<p>I am on <a href="https://www.linkedin.com/in/marufzaber/">LinkedIn</a>.</p>
<p>I keep my codes in <a href="https://github.com/marufzaber">GitHub</a>.</p>


<h2>Miscellaneous</h2>

<p>I like music. Spotify says I listened to 773 artists in 2020.</p>

<p>I do photography. My work is <a href="https://500px.com/p/marufzaber?">here</a>.</p>

<p>I am a lurker of Reddit and Hackernews. </p>

<p> I can draw complete world map.</p>

<p>I listen to Joe Rogan, Lex Fridman, Sam Harris, and Tim Ferris.</p>


<h2> Contact </h2>
<p>
Email me at mzaber AT uci DOT edu. Spam me at marufspambox@gmail.com.
</p>

<h2> Awknowledgement </h2>
<p>
Those who are thinking that I am lazy -- you are wrong!! This website was inspired by this <a href="https://motherfuckingwebsite.com/">website</a> (WARNING: strong language!! Those who don't appreciate dark humor, please don't visit.)
</p>


<footer>&copy; Copyright 2020 Maruf Zaber</footer>

</body>
</html>
