<!DOCTYPE html>
<html>
<body>


<h1>Maruf's Software Engineering Reading List</h1>


<h2>Leadership</h2>

<ul>
  <li><a href="https://www.amazon.com/Hard-Thing-About-Things-Building/dp/0062273205">The Hard Thing About Hard Things</a></li>
  <li><a href="https://www.amazon.com/Managers-Path-Leaders-Navigating-Growth/dp/1491973897">The Manager's Path: A Guide for Tech Leaders Navigating Growth and Change</a></li>
    
  <li><a href="https://www.amazon.jobs/en/principles"> Amazon Leadership Principles</a></li>
  
  
  <li><a href="https://www.amazon.com/gp/product/1484221575/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1484221575&linkCode=as2&tag=ss102520-20&linkId=25ce2c9079ddf2f5b86d0c9f301c274d"> Managing Humans: Biting and Humorous Tales of a Software Engineering Manager</a></li>
    
  <li><a href="https://www.amazon.com/gp/product/0135667364/ref=as_li_tl?ie=UTF8&tag=ss102520-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=0135667364&linkId=d87a2d7f0a59867631ce11a03d97f24f"> Managing the Unmanageable: Rules, Tools, and Insights for Managing Software People and Teams</a></li>
  
  
  <li><a href="https://www.amazon.com/Turn-Ship-Around-Turning-Followers/dp/1591846404/ref=as_li_ss_tl?dchild=1&keywords=Turn+the+Ship+Around!:+A+True+Story+of+Turning+Followers+into+Leaders&qid=1604968977&sr=8-1&linkCode=ll1&tag=ss102520-20&linkId=ce184feacdd4b9670d255bf8babcbcd4&language=en_US"> Turn the Ship Around!: A True Story of Turning Followers into Leaders</a></li>
  
  
    <li><a href="https://www.amazon.com/Leadership-Art-Max-Depree/dp/0385512465/ref=as_li_ss_tl?_encoding=UTF8&qid=&sr=&linkCode=ll1&tag=ss102520-20&linkId=d5f76a253221d875145e94c7ee056eb1&language=en_US"> Leadership Is an Art</a></li>
    
  <li><a href="https://staffeng.com/?fbclid=IwAR28vqAn-1rDWdSEg2p09ljkw0Vq-p-lqmXa2m5WlVnlmDjebJSWfWgcS9I"> Stories of reaching to Staff Sofware Engineer</a></li>
  
  <li><a href="https://www.amazon.com/Trillion-Dollar-Coach-Leadership-Playbook/dp/0062839268/ref=as_li_ss_tl?dchild=1&keywords=Trillion+Dollar+Coach&qid=1604968783&sr=8-2&linkCode=ll1&tag=ss102520-20&linkId=1c0532b466791a43eca7e251b0b25f04&language=en_US"> Trillion Dollar Coach</a></li>
  
  <li><a href="https://www.listennotes.com/podcasts/decisive-moments-for-engineering-leaders-r7HRVvXqoAy/"> Decisive Moments for Engineering Leaders</a></li>
  
    <li><a href="https://highgrowthengineering.substack.com/"> High Growth Engineering</a></li>
  
  <li><a href="https://www.amazon.com/First-90-Days-Strategies-Expanded/dp/1422188612/ref=as_li_ss_tl?dchild=1&keywords=First+90+Days&qid=1605048214&s=books&sr=1-1&linkCode=ll1&tag=ss102520-20&linkId=9e6b10559aed21a6a14721041561b815&language=en_US"> The First 90 Days: Proven Strategies for Getting Up to Speed Faster and Smarter, Updated and Expanded</a></li>
  
  
  <li><a href="https://www.amazon.com/gp/product/0062874780/ref=as_li_ss_tl?ie=UTF8&linkCode=ll1&tag=ss102520-20&linkId=efc1ad17190b6a42adb9eeb132cdf193&language=en_US"> It Doesn't Have to Be Crazy at Work</a></li>
  
  
  <li><a href="https://www.amazon.com/Humble-Inquiry-Gentle-Instead-Telling/dp/1626567344/ref=as_li_ss_tl?_encoding=UTF8&qid=1605048059&sr=1-1&linkCode=ll1&tag=ss102520-20&linkId=5834e4f8afd3fe0a332e812335238788&language=en_US"> Humble Inquiry: The Gentle Art of Asking Instead of Telling</a></li>
  
    <li><a href="https://www.amazon.com/How-Google-Works-Eric-Schmidt/dp/1455582344/ref=as_li_ss_tl?_encoding=UTF8&qid=1605045492&sr=1-1&linkCode=ll1&tag=ss102520-20&linkId=0f5b67a5fa032738e82b204068ac73fd&language=en_US"> How Google Works</a></li>
  <li><a href="https://www.amazon.com/Five-Dysfunctions-Team-Leadership-Fable/dp/0787960756/ref=as_li_ss_tl?dchild=1&keywords=The+Five+Dysfunctions+of+a+Team&qid=1605045721&s=books&sr=1-1&linkCode=ll1&tag=ss102520-20&linkId=ff7dc488bd9699b2f8c689990ddc76d1&language=en_US"> The Five Dysfunctions of a Team: A Leadership Fable</a></li>
  
</ul>


<h2>Software Architecture </h2>

<ul>
  <li><a href="https://martinfowler.com/articles/designDead.html"> Is Design Dead?</a></li>
  <li><a href="https://clojurefun.wordpress.com/2012/12/21/architecture-is-dependency-management/"> Architecture is dependency management</a></li>
  <li><a href="https://yobriefca.se/blog/2013/04/29/micro-service-architecture/">Micro Service Architecture</a></li>
  <li><a href="https://www.joelonsoftware.com/2001/04/21/dont-let-architecture-astronauts-scare-you/">Don’t Let Architecture Astronauts Scare You</a></li>
  <li><a href="https://geemus.gitbooks.io/http-api-design/content/en/"> HTTP API Design Guide</a></li>
  <li><a href="https://12factor.net/">The Twelve-Factor App</a></li>
  <li><a href="https://wblinks.com/notes/aws-tips-i-wish-id-known-before-i-started/">AWS TIPS I WISH I'D KNOWN BEFORE I STARTED</a></li>
  <li><a href="http://wiki.c2.com/?SoftwareDesignPatternsIndex"> Software Design Patterns Index</a></li>
  
   <li><a href="https://queue.acm.org/detail.cfm?id=1773943">The key to synchronizing clocks over networks is taming delay variability</a></li>

</ul>


<h2>Distributed Systems </h2>


<ul>
<li><a href="http://bnrg.eecs.berkeley.edu/~randy/Courses/CS294.F07/Dynamo.pdf">Dynamo: Amazon’s Highly Available Key-value Store </a></li>
<li><a href="http://static.googleusercontent.com/media/research.google.com/en//archive/bigtable-osdi06.pdf">Bigtable: A Distributed Storage System for Structured Data</a></li>

<li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.161.6751&rep=rep1&type=pdf">Cassandra - A Decentralized Structured Storage System</a></li>
<li><a href="https://heather.miller.am/teaching/cs7680/"> Programming Models for Distributed Computing
</a></li>
<li><a href="http://www.cs.cmu.edu/~dga/15-440/F12/syllabus.html">CMU: Distributed Systems</a></li>
<li><a href="http://www.kegel.com/c10k.html">The C10K problem</a></li>
<li><a href="http://danluu.com/file-consistency/">Files are hard</a></li>
<li><a href="http://www.hpcs.cs.tsukuba.ac.jp/~tatebe/lecture/h23/dsys/dsd-tutorial.html">Introduction to Distributed System Design</a></li>
<li><a href="https://blog.newrelic.com/engineering/the-fallacies-of-distributed-computing-reborn-the-cloud-era/">The Fallacies of Distributed Computing Reborn: The Cloud Era</a></li>
<li><a href="https://writings.quilt.org/2014/05/12/distributed-systems-and-the-end-of-the-api/">Distributed Systems and the End of the API</a></li>

<li><a href="http://blog.fogus.me/2011/09/08/10-technical-papers-every-programmer-should-read-at-least-twice/">10 Technical Papers Every Programmer Should Read At Least Twice</a></li>
<li><a href="https://dl.acm.org/doi/10.1145/384265.291048">Locality-aware request distribution in cluster-based network servers</a></li>

<li><a href="https://www.akamai.com/us/en/multimedia/documents/technical-publication/consistent-hashing-and-random-trees-distributed-caching-protocols-for-relieving-hot-spots-on-the-world-wide-web-technical-publication.pdf">Consistent Hashing and Random Trees: Distributed Caching Protocols for Relieving Hot Spots on the World Wide Web </a></li>

</ul>

<h2>Scalability </h2>

<ul>
<li><a href="https://www.somethingsimilar.com/2013/01/14/notes-on-distributed-systems-for-young-bloods/">Notes on Distributed Systems for Young Bloods</a></li>
<li><a href="https://queue.acm.org/detail.cfm?id=2745385">There is No Now</a></li>
<li><a href="https://asafdav2.github.io/2017/swim-protocol/">SWIM Protocol explained</a></li>
<li><a href="https://queue.acm.org/detail.cfm?id=1988603">If You Have Too Much Data, then "Good Enough" Is Good Enough</a></li>
<li><a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.5.4000">Fighting Fire With Fire: Using Randomized Gossip To Combat Stochastic Scalability Limits</a></li>
<li><a href="https://mvdirona.com/jrh/talksAndPapers/JamesRH_Lisa.pdf">On Designing and Deploying Internet-Scale Services</a></li>
<li><a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.33.411">Harvest, Yield, and Scalable Tolerant Systems</a></li>
<li><a href="https://www.usenix.org/conference/nsdi13/technical-sessions/presentation/nishtala">Scaling Memcache at Facebook</a></li>
<li><a href="https://people.eecs.berkeley.edu/~brewer/papers/GiantScale-IEEE.pdf">Lessons from Giant-Scale Services</a></li>
<li><a href="http://highscalability.com/blog/2008/5/27/how-i-learned-to-stop-worrying-and-love-using-a-lot-of-disk.html">How I Learned To Stop Worrying And Love Using A Lot Of Disk Space To Scale</a></li>
<li><a href="https://martin.kleppmann.com/2014/03/26/six-things-about-scaling.html">Six things I wish we had known about scaling</a></li>
<li><a href="https://www.slideshare.net/davemitz/7-stages-of-scaling-web-applications">7 Stages of Scaling Web Applications</a></li>
</ul>



<h2>Software Testing</h2>
<ul>
<li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.111.9188&rep=rep1&type=pdf">What Is Software Testing? And Why Is It So Hard?</a></li>
<li><a href="https://www.amazon.co.uk/gp/product/0993088112/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jamesosborn-21&creative=6738&linkCode=as2&creativeASIN=0993088112&linkId=0f87de675be852785ae8e4f22c6fde75">Fifty Quick Ideas To Improve Your Tests</a></li>
<li><a href="https://www.amazon.co.uk/gp/product/0141033576/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jamesosborn-21&creative=6738&linkCode=as2&creativeASIN=0141033576&linkId=c44dca706a9c2db409fd3c8f6bae0931">Thinking, Fast and Slow</a></li>
<li><a href="https://www.amazon.co.uk/gp/product/0471081124/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=0471081124&linkCode=as2&tag=jamesosborn-21&linkId=2757d4e2dd5ab2266c9d8cfad1f6be60">Lessons Learned in Software Testing: A Context-Driven Approach</a></li>
<li><a href="https://www.amazon.co.uk/gp/product/0321965515/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jamesosborn-21&creative=6738&linkCode=as2&creativeASIN=0321965515&linkId=02f9fc9cacff7f02b4250897ea0ff769">Don't Make Me Think</a></li>
<li><a href="https://open.spotify.com/playlist/5yzT0HrymwEeO8ckqgkPiW">Testers Rage</a></li>
<li><a href="https://www.softwaretester.blog/">Test automation and software craftsmanship</a></li>
<li><a href="https://janetgregory.ca/blog/">Testing vs Quality Management – Quality Management</a></li>
<li><a href="https://blog.crisp.se/2013/10/11/henrikkniberg/good-and-bad-technical-debt">Good and Bad Technical Debt (and how TDD helps)</a></li>
<li><a href="http://wiki.c2.com/?CodeSmell">Code Smell</a></li>
<li><a href="https://www.rainforestqa.com/blog/2014-09-19-the-many-reasons-your-deployment-is-racy">The many reasons your deployment is racy</a></li>
<li><a href="https://medium.com/caffeine-and-testing/on-unit-testing-1cc6798f81ee">On Unit Testing</a></li>
<li><a href="http://making.fiftythree.com/load-testing-an-unexpected-journey/">LOAD TESTING: AN UNEXPECTED JOURNEY</a></li>
<li><a href="https://dhh.dk/2014/tdd-is-dead-long-live-testing.html">TDD is dead. Long live testing</a></li>
</ul>

<h2>Monorepo</h2>
<ul>
<li><a href="https://danluu.com/monorepo/">Advantages of monorepos</a></li>
<li><a href="https://people.engr.ncsu.edu/ermurph3/papers/seip18.pdf">Advantages and Disadvantages of a Monolithic Repository</a></li>
<li><a href="https://research.google/pubs/pub45424/">Why Google Stores Billions of Lines of Code in a Single Repository</a></li>

<li><a href="https://www.drmaciver.com/2016/10/why-you-should-use-a-single-repository-for-all-your-companys-projects/">Why you should use a single repository for all your company’s projects</a></li>
</ul>

<h2>Ethics</h2>

<ul>
<li><a href="http://www.csl.mtu.edu/cs3000/www/ReadingList.html">MIT: Ethical and Social Aspects of Computing</a></li>
<li><a href="https://journals.sagepub.com/doi/pdf/10.1177/2053951716679679">The ethics of algorithms: Mapping the debate</a></li>
<li><a href="https://reallifemag.com/counting-the-countless/">Counting the Countless</a></li>
<li><a href="https://dl.acm.org/doi/abs/10.1145/3351095.3372840">Algorithmic realism: expanding the boundaries of algorithmic thought</a></li>
<li><a href="https://www.wired.com/story/why-ai-is-still-waiting-for-its-ethics-transplant/">Why AI Is Still Waiting For Its Ethics Transplant
</a></li>
<li><a href="https://aeon.co/ideas/coding-is-not-fun-it-s-technically-and-ethically-complex">Coding is not ‘fun’, it’s technically and ethically complex</a></li>
<li><a href="https://www.nytimes.com/2019/01/26/business/against-hustle-culture-rise-and-grind-tgim.html">https://www.nytimes.com/2019/01/26/business/against-hustle-culture-rise-and-grind-tgim.html</a></li>
<li><a href="https://ourdataourselves.tacticaltech.org/posts/psychometric-profiling/">Psychometric Profiling: Persuasion by Personality in Elections</a></li>
<li><a href="https://notesfrombelow.org/article/technology-and-the-worker">Technology and The Worker
</a></li>
<li><a href="https://nplusonemag.com/issue-35/reviews/on-design-thinking/">On Design Thinking</a></li>
</ul>

<h2>Miscellaneous</h2>
<ul>
<li><a href="https://www.newyorker.com/magazine/2018/12/10/the-friendship-that-made-google-huge">The Friendship That Made Google Huge</a></li>
<li><a href="http://infolab.stanford.edu/~backrub/google.html">The Anatomy of a Large-Scale Hypertextual Web Search Engine</a></li>
<li><a href="http://www.paulgraham.com/noob.html">Being a Noob</a></li>
<li><a href="http://www.paulgraham.com/think.html">How To Think For Yourself</a></li>
<li><a href="https://arxiv.org/abs/1706.03762">Attention Is All You Need</a></li>
<li><a href="https://dl.acm.org/doi/10.1207/S15327051HCI1523_4">Distance matters</a></li>
</ul>


<footer>&copy; Copyright 2020 Maruf Zaber</footer>

</body>
</html>


